.grid {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;

}
.grid div {
    width: 20px;
    height: 20px;
}
.shooter {
    background-color: blue;
}
.invader {
    background-color: purple;
    border-radius: 50%;
}
.boom {
    background-color: red;
    border-radius: 50%;
}
.laser {
    background-color: orange;
    border-radius: 50%;
}